<html>
  <head>
    <title>Realtime Human Re-identification</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='style.css')}}">
  </head>
  <body>
    <h1 class="title">Realtime Human Re-identification</h1>
    <div class="camera-container">
        <div class="camera">
            <img src="{{ url_for('camera1') }}">
        </div>
        <div class="camera">
            <img src="{{ url_for('camera2') }}">
        </div>
    </div>
  </body>
</html>
